.formElement .field:focus-within {
    outline-width: 1px;
    outline-style: groove;
}
.formElement .field {
    display: flex;
    flex-direction: column;
    gap: 15px;
    min-height: 200px;
    border: 1px solid #d9dfe8;
    padding: 10px 25px;
}