.pagination {
    background: #fff;
    border: 1px solid #d9dfe8;
    height: 40px;
    gap: 15px;
    display: flex;
    align-items: center;
    padding: 0 15px;
    
}
.pagination svg {
    height: 100%;
    width: 20px;
    fill: #62676e;
    cursor: pointer;

}
.pagination span {
    font-size: 1.1rem;
    cursor: pointer;
}
.pagination span.active {
    font-weight: bold;
    text-decoration: underline;
}
.pagination .next,
.pagination .prev {
    display: flex;
}