.table {
    background-color: rgb(255, 255, 255);
    border: 1px solid #d9dfe8;
    width: 100%;
}
.table-top {
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
    padding: 0 35px;
}
.table .col {
    width: 1fr;
    padding: 15px 0;
    display: flex;
    align-items: center;
}
.table-top::after {
    --padding: 35px;
    position: absolute;
    display: block;
    content: '';
    top: 100%;
    left: calc(var(--padding) / 2);
    width: calc(100% - var(--padding));
    height: 1px;
    background-color: #d9dfe8;
}
.table .rows {
    display: flex;
    flex-direction: column;
}
.table .row {
    position: relative;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 5px;
    padding: 0 35px;
}
.table .row:nth-child(2n+2) {
    background-color: #d9dfe8;
}
.table .row span.delete-btn {
    background-color: rgb(235, 114, 114);
    color: #fff;
    padding: 0 25px;
    cursor: pointer;
    transition: background-color .1s ease-out;
}
.table .row span.delete-btn:hover {
    background-color: rgb(207, 52, 52);
}