.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 0;
    background-color: #fff;
    border-bottom: 1px solid #d9dfe8;
}
.navbar .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 100px;
    background-color: #d9dfe8;
    color: #383b3f
}
.navbar p {
    cursor: pointer;
}